
.center {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    display: block;
    margin: 0 auto 10px auto;
}

input {
    margin-bottom: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerRight {
    text-align: right;
}

.games {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

form button, form input {
    width: 100%;
}

form button {
    margin-bottom: 10px;
}

.libraryGameItem {
    margin-right: 20px;
}

.publisherName {
    margin-top: 30px;
}

.libraryGameItem:last-child {
    margin-right: 0px;
}

.shopGameItem {
    margin-right: 20px;
}

.shopGameItem:nth-last-child(2) {
    margin-right: 0px;
}


.games img {
    height: 200px;
    width: 140px;
}

.textCenter {
    text-align: center;
}