
.center {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    display: block;
    margin: 0 auto 10px auto;
}

input {
    margin-bottom: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerRight {
    text-align: right;
}

.games {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.games input[type="button"] {
    width: 100%;
}

.games div {
    margin-right: 20px;
}

.games div:last-child {
    margin-right: 0px;
}

.games img {
    height: 200px;
    width: 140px;
}

.textCenter {
    text-align: center;
}